@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

/* google icon */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
 
  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;
 
  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;
 
  /* IEサポート */
  font-feature-settings: 'liga';
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
figure {
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}
a:hover>figure img {
        transform: scale(1.15,1.15);
        -webkit-transform:scale(1.15,1.15);
        -moz-transform:scale(1.15,1.15);
        -ms-transform:scale(1.15,1.15);
        -o-transform:scale(1.15,1.15);
}
figcaption {
    background-color: rgba(0,0,0,0.6);
    color: #FFF;
    opacity: 0;
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    text-align: center;
    -webkit-transition:all 0.25s ease-in-out;
        transition:all 0.25s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 25%;
}
a:hover>figure figcaption {
    opacity: 1;
}
body{
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

/* ヘッダ領域 */
.header{
	background: #fffc00;
	height: 80px;
	line-height: 80px;
}

ul {
	margin: 0;
	padding: 0;
}

.header.gnavi {
	height: 80px;
	width: 100%;
}

.nav-item {
	display: block;
	float: left;
	width: 120px;
}

.contents {
	margin: 0 auto;
	width: 1000px;
}

/* メインビジュアル */
.mv{
	background-image: url(../images/bg_mainimg01.png);
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	position: relative;
	width: 1000px;
	height: 700px;
}

.mv01{
	width: 1000px;
}

/* コンテンツ */
.main-contents {
	width: 1000px;
	height: 300px;
}

.content-box {
	background: #5c98dc;
	float: left;
	width: 333px;
	height: 300px;
}

/* フッタ */
.footer {
	clear: both;
	background: #6d6d6d;
	fontsize: 10px;
	overflow: hidden;
}

.f-list {
	margin: 0 auto;
	height: 50px;
	width: 800px;
}

.f-item {
	display: block;
	float: left;
	margin: 20px 0;
	width: 150px;
}

.copyright {
	color: f6f6f6;
	margin: 20px 0;
	text-align: center;
	overflow: hidden;
}

/* フォーム */
.join {
	padding: 20px  50px 30px;
	background: rgba(200,200,200,0.5);
	margin: 50px auto;
	width: 580px;
	border-radius: 12px;
}

.login {
	padding: 20px  50px 30px;
	background: rgba(200,200,200,0.5);
	margin: 50px auto;
	width: 480px;
	border-radius: 12px;
}

.form-title {
	font-size: 20px;
	margin: 15px auto 25px;
	text-align: center;
}

.form-line {
	margin: 30px 20px 10px;
}

.btn-w100 {
	padding: 10px 0;
	margin: 20px 0 15px;
	width: 100%;
}

.mes-area {
	padding: 7px 10px;
	margin: 20px 0px;
	border-radius: 5px;
}

/****** マイページ *******/
.mypage {
	margin: 20px 0;
}

/* プロフィールボックス */
.profile-box {
	border-radius: 5px;
	padding-bottom: 30px;
	background: #2397c2;
	overflow: hidden;
}

.profile-img {
	border-radius: 7px;
	margin: 10px auto 20px;
	overflow: hidden;
}

.mypage-user {
	margin: -5px;
}

.user-name {
	color: #1c1c1c;
	font-size: 28px;
}

.user-id {
	color: #3c3c3c;
}

.user-point {
	margin: 15px -5px 10px;
}

.user-point-span {
	margin-top: 3px;
	margin-left: -5px;
}

.edit-btn {
	margin-top: 10px;
	height: 25px;
	line-height: 12px;
	width: 100%;
}

.buy-btn {
	height: 25px;
	line-height: 12px;
	width: 100%;
}

/* マイページコンテンツ */
.mypage-content {
	border-radius: 5px;
	margin-bottom: 40px;
	background: rgba(248,248,248, 0.9);
	overflow: hidden;
}

.mypage-content h2{
	border-radius: 3px;
	margin: 5px 10px 10px;
	padding: 7px;
	font-size: 16px;
	color: #fcfcfc;
}

.archive h2 {
	background: #CC2C37;
}

.favorite h2 {
	background: #F8CB33;
}

.mypage-content h3{
	border-radius: 3px;
	margin: 5px 5px 10px;
	padding: 7px 5px;
	background:#339966;
	font-size: 14px;
	color: #fcfcfc;
}

.news {
	height: 120px;
}

.news li{
	list-style-type: none;
}

.topic {
	margin: 7px 20px;
}

.date {
	margin-left: 20px;
	font-size: 12px;
}

.archive {
	height: 300px;
}

.favorite {
	height: 300px;
}

.mypage-pic {
	margin: 0;
}

.pic {
	border: 2px solid #fff;
	border-radius: 2px;
	margin: 0 auto;
}

.pic-title {
	color: #0c0c0c;
}

.more {
	margin: 20px;
}

/* 写真リスト */
.piclist-title {
	background: #2c2c2c;
	margin: 5px 0 10px;
	border-radius: 3px;
}

.piclist-title h2 {
	font-size: 18px;
	padding: 10px 5px;
	color: #fcfcfc;
}
.search-form {
	margin: 20px auto;
}

.pic-list {
	padding: 20px;
	margin: 20px auto;
	background: rgba(235,235,235,0.8);
	border-radius: 5px;
	overflow: hidden;
}

.list-row {
	margin: 10px 0;
}

.paging {
	clear: both;
	width: 600px;
	color: #fcfcfc;
	text-align: center;
}

.page {
	float: left;
	text-align: center;
}

/** 写真撮影 **/
#contents{
	margin: 30px 0;
	width:1000px;
	height:500px;
	border-radius: 5px;
	background-color:rgba(245,245,245,0.9);
}

#maincapt{
	position:relative;
	width:450px;
	height:330px;
	float:left;
}

#maincapt video{
	position:absolute;
	left:50px;
}

#hozon{
	position:absolute;
	left:90px;
	bottom:-10px;
}

#capture{
	position:absolute;
	left:30px;
	bottom:-25px;
}
#maincapt input{
	margin:20 20;
}

.text_box{
	position:absolute;
	bottom:-13px;
	left:5px;
	color:#FFF;
}

#capture_images{
	 width:460px;
	 height:340px;
	 float:right;
	 position:relative;
}

#capture_images img{
	position:absolute;
	top: 20px;
	left:50px;
}


/* ポイント購入 */
.form-point {
	margin: 50px 0;
}

.buy-form {
	margin: 30px 0;
}

.buy-point {
	margin: 0 auto;
	width: 600px;
}

.caution {
	margin: 0 20px;
	color: red;
	font-size: 12px;
}

.form-title {
	margin: 30px 0;
}

/*投稿完了ページ*/
.confirm{
	margin: 0px 200px;
}
